body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h2 {
  margin: 0;
}



.imgLogo {
  margin: 0;
  /*display: inline-block;*/
}

.imgLogo img {
  height: 28px;
  width: 89px;
  padding:12px 0 12px 10px;
  cursor: pointer;

}

.encabezado {
  background: #1C3643;
  display: flex;
  justify-content: space-between;
}

.menu {
  margin-top: 8px;
}

.menu ul {
  display: inline-block;
  margin: 0;
}

.menu li {
  display: inline-block;
  list-style: none;

  padding: 0 15px;
  font-size: 17px;
  cursor: pointer;
}

.menu li:hover {
  border-top: solid 5px #ff4842;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
}

.linea {
  border-right: solid 1px #ffffff;
}

.menu button {
  display: inline-block;
  padding: 8px 8px;
  margin-right: 10px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  color: #ffffff;
  background: #ff4842;
  border-color: #d0272a;
}

.principal {
  background-color: #efefef;
}

.div {
  width: 900px;
  margin: auto;
  display: block;
}


.frmBuscar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
}

.txtBuscar {
  background: #ffffff;
  padding: 0 10px;
  border-radius: 5px;
  border: 0;
  height: 30px;
  font-size: 15px;
  margin-right: 5px;

}

.btnBuscar {
  background-image: url(../imagenes/Lupa.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*background: #000000;*/
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 5px;

}

.articulo {
  width: 900px;
  margin: auto;
  display: block;
  position: relative;

}

.lblArticulo {
  width: 450px;
  position: absolute;
  display: block;
  left: 20px;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.8);
  padding: 25px;
  color: #515151;
}

.lblArticuloHeader {
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 10px;
}

.lblArticuloFooter, .divAutor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autor {
  margin: 0px 12px;
}



.imgAvatar {
  border-radius: 50%;
  border: 0;
}

.articulos {
  margin-top: 15px;

}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.publicacion {
  /*display: inline-block;*/
  width: 290px;
  overflow: hidden;

  /*padding: 10px;*/
}

.publicacion a {
  text-decoration: none;
  color: #515151;
}

.imgPublicacion {
  margin: 15px 5px 0 0;
  padding: 0;
}

.h2Publicacion {
  border-bottom: solid 1px #b7b7b7;
  font-size: 1.4em;
  margin: 5px 0 0 0;
  padding: 0.455em 0 0.909em;
}

.pubFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 0.8em;
  color: #515151;
}

.pubFooter p {
  margin: 0;
}

.paginador {

  margin: 15px auto;
  display: flex;
  justify-content: center;

}

.paginador ul {

  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.paginador span {
  padding: 15px;
}
.paginador ul li {
  background: #eaeaea;
  padding: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.paginador .seleccion {
  background: transparent;
  border: 1px solid transparent;
}
.sig:after {
  content: " >";
}

.ult:after {
  content: " >>";
}
