body {
  margin: 0;
  font-family: 'Lato', sans-serif;

}

a {color: #666;}

h2 {
  margin: 0;
}


.encabezado {
  background: #1C3643;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.imgLogo {
  margin: 0;
  /*display: inline-block;*/
}

.imgLogo img {
  height: 28px;
  width: 89px;
  padding:0 12px;
  cursor: pointer;

}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.menu ul {
  display: inherit;
  justify-content: space-between;
  margin: 0;
  height: inherit;
}

.menu li {
  height: inherit;
  list-style: none;
  font-size: 17px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-top: solid 3px transparent;*/

}

.menu li:hover {
  /*box-shadow: Dónde se ubica la sombra, x, y, difuminado, color*/

  box-shadow: inset 0 5px 0 red;

  /*border-top: solid 3px #ff4842;*/

}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 15px;
}

.menu a.borde {
  border-right: solid 1px #ffffff;
}

.menu .boton {
  margin: 0 10px;
}

.boton {

  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background: #ff4842;
  border-radius: 5px;
  padding: 5px 10px 10px;
  margin-right: 5px;
  font-size: 15px;
  /*border-bottom: 5px solid #d0272a;*/
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .3);
  transition: .2s;
}

.boton:active {
  transform: scale(.9);
}

.principal {
  background-color: #efefef;
}

.div {
  width: 900px;
  margin: auto;
  display: block;
}


.frmBuscar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
}

.txtBuscar {
  background: #ffffff;
  padding: 0 10px;
  border-radius: 5px;
  border: 0;
  height: 30px;
  font-size: 15px;
  margin-right: 5px;

}

.btnBuscar {
  background-image: url(../imagenes/Lupa.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*background: #000000;*/
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 5px;

}

.articulo {
  width: 900px;
  margin: auto;
  display: block;
  position: relative;

}

.lblArticulo {
  width: 450px;
  position: absolute;
  display: block;
  left: 20px;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.8);
  padding: 25px;
  color: #515151;
}

.lblArticuloHeader {
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 10px;
}

.lblArticuloFooter, .divAutor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autor {
  margin: 0px 12px;
}



.imgAvatar {
  border-radius: 50%;
  border: 0;
}

.articulos {
  margin-top: 15px;

}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.publicacion {
  /*display: inline-block;*/
  width: 290px;
  overflow: hidden;

  /*padding: 10px;*/
}

.publicacion a {
  text-decoration: none;
  color: #515151;
}

.imgPublicacion {
  margin: 15px 5px 0 0;
  padding: 0;
}

.h2Publicacion {
  border-bottom: solid 1px #b7b7b7;
  font-size: 1.4em;
  margin: 5px 0 0 0;
  padding: 0.455em 0 0.909em;
}

.pubFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 0.8em;
  color: #515151;
}

.pubFooter p {
  margin: 0;
}

.paginador {

  margin: 40px auto;
  display: flex;
  justify-content: center;
  color: #666;

}

.paginador ul {

  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.paginador span {
  padding: 15px;
}
.paginador ul li {
  background: #eaeaea;
  padding: 15px;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.paginador a {
  text-decoration: none;

}

.paginador .seleccion {
  background: transparent;
  border: 1px solid transparent;
}
.sig:after {
  content: " >";
}

.ult:after {
  content: " >>";
}
